@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-size: 50px;
    font-family: 'Sriracha', cursive;
}

header {
    background-color: black;
    color: white;
    font-family: 'Passion One', cursive;
    font-size: 50px;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.17);
    width: 700px;
}
footer {
    background-color: black;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}
